<form action="/posts" method="get">
  <div>여행 무드를 선택해주세요!</div>
  <div class="s-mood-wrapper">
    <div class="field s-mood">
      <label for="romantic">#romantic</label>
      <input type="hidden" name="mood1" value="" />
      <input type="checkbox" id="romantic" name="mood1" value="romantic"/>
    </div>
    
    <div class="field s-mood">
          <label for="tasty">#tasty</label>
        <input type="hidden" name="mood2" value="" />
        <input type="checkbox" id="tasty" name="mood2" value="tasty"/>
    </div>
    
    <div class="field s-mood">
      <label for="luxury">#romantic</label>
      <input type="hidden" name="mood3" value="" />
      <input type="checkbox" id="luxury" name="mood3" value="luxury"/>
    </div>
    
    
    <div class="field s-mood">
      <label for="romantic">#romantic</label>
      <input type="hidden" name="mood4" value="" />
      <input type="checkbox" id="healing" name="mood4" value="healing"/>
    </div>
    
    <div class="field s-mood">
      <label for="relaxing">#relaxing</label>
      <input type="hidden" name="mood5" value="" />
      <input type="checkbox" id="relaxing" name="mood5" value="relaxing"/>
    </div>
    
    <div class="field s-mood">
      <label for="escape">#escape</label>
      <input type="hidden" name="mood6" value="" />
      <input type="checkbox" id="escape" name="mood6" value="escape"/>
    </div>
    <div class="field s-mood">
      <label for="peaceful">#peaceful</label>
      <input type="hidden" name="mood7" value="" />
      <input type="checkbox" id="peaceful" name="mood7" value="peaceful"/>
    </div>
    <div class="field s-mood">
      <label for="active">#active</label>
      <input type="hidden" name="mood8" value="" />
      <input type="checkbox" id="active" name="mood8" value="active"/>
    </div>
    <div class="field s-mood">
      <label for="challenging">#challenging</label>
      <input type="hidden" name="mood9" value="" />
      <input type="checkbox" id="challenging" name="mood9" value="challenging"/>
    </div>
    <div class="field s-mood">
      <label for="meaningful">#meaningful</label>
      <input type="hidden" name="mood10" value="" />
      <input type="checkbox" id="meaningful" name="mood10" value="meaningful"/>
    </div>
    <div class="field s-mood">
      <label for="traditional">#traditional</label>
      <input type="hidden" name="mood11" value="" />
      <input type="checkbox" id="traditional" name="mood11" value="traditional"/>
    </div>
    <div class="field s-mood">
      <label for="sight">#sight</label>
      <input type="hidden" name="mood12" value="" />
      <input type="checkbox" id="sight" name="mood12" value="sight"/>
    </div>
  </div>
  <div class="actions">
    <input type="submit"/>
  </div>
</form>


<!--<h1>Listing Posts</h1>-->
