<header class="header">
  <a href="/" class="s-back-btn">
    <%= image_tag("back_btn.png") %>
  </a>
  <h1 class="s-post-title">경로 등록하기</h1>
</header>

<div class="s-form-wrapper">
    
    <%= render 'form' %>
    
</div>
